@charset "utf-8";

body {
	width: 100%;
	background-color: #f8f9f9    ;
  	font-size: 20px;
	font-family : Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0 auto;
}


ul {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
  	list-style-type: none;
  	margin: -5px;
  	padding: 0;
  	overflow: hidden;
  	background-color: gray;
  	position: -webkit-sticky; /* Safari */
  	position: relative;
  	top: 0;
}



li {
  	float: left;
	border-right:1px solid white;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

li:last-child {
  	border-right: none;
}

li a {
	background-color: gray;
	font : Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 20px 24px;
  	text-decoration: none;
}


li a:hover {
  	background-color: whitesmoke;
	color: #F2A672;
}

h3 {
	color: #F2A672;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: bold;
	font-size: 50px;
}
strong {
	font-weight: bold; 
}
em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 18px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

#titrer{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: bold;
	font-size: 25px;
	color: #F2A672;

}

#navigation{

 }

.fixNavigation{
 z-index: 9999;
 position: fixed;
 top: 0;

 }


.imgbox {
  	background-color: #ebeff2;
  	display: grid;
}

.image {
	width: 50%;
  	height: auto;
  	margin: auto;
}

.zoom {
	box-shadow: 0 10px 20px -2px gray;
	border-radius: 10px;
	max-width: 30%;
	height: auto;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	transition: transform .3s;
}

.zoom:hover {
  	-ms-transform: scale(1.2); /* IE 9 */
  	-webkit-transform: scale(1.2); /* Safari 3-8 */
  	transform: scale(1.2); 
}


.grad {
	width: 100%;
}


.text {
	font-size: 20px;
	font-weight: bold;
}

.para_1 {
	padding-left: 8%;
	padding-right: 45%;
	text-align: justify;
}


.para_2 {
	padding-left: 45%;
	padding-right: 8%;
	text-align: justify;
}


#title_2 {
	text-align: right;
}


#img_2 {
	float: right;
	width: 50%;
	padding-top:100px;
}

#img_3 {
	float: left;
	width: 28%;
	padding-top:100px;
	padding-left: 10%;
}

#img_4 {
	float: right;
	width: 40%;
	padding-top:100px;
	padding-right: 3%;
}

.foot {
	position: relative;
	bottom: 0;
	width: 100%;	
}



#img_5 {
	float:left;
	width: 25%;
	padding-top:90px;
	padding-left: 18%;
}

#img_6 {
	float:right;
	width: 25%;
	padding-top: 40px;
	padding-right: 15%;
}

#link_1 {
	clear: left;
	text-align: center;
	padding-top: 40px;
	padding-right: 0%;
}

#link_2 {
	display: inline-block;
	float: right;
	clear:left;
	text-align: center;
	padding-right: 18%;
}


.zoom_1 {
  	transition: transform .3s;
}

.zoom_1:hover {
  	-ms-transform: scale(1.09); /* IE 9 */
  	-webkit-transform: scale(1.09); /* Safari 3-8 */
  	transform: scale(1.09); 
}


.proj {
	padding-left: 8%;
	padding-right: 8%;
	text-align: justify;
}

.step_im {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 100%;
}

.img_us {
	padding-top: 8%;
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 105%;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

https://epicbootstrap.com/snippets/footer-dark



